@inject SignInManager<ApplicationUser> signInManeger
@inject UserManager<ApplicationUser> userManger
@inject IViewLocalizer localizer;

@if (signInManeger.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@localizer["Admin"]</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Shelf" asp-action="Index">@localizer["Shelfs"]</a>
        <a class="dropdown-item" asp-controller="Book" asp-action="Index">@localizer["Books"]</a>
        <a asp-controller="Admin" asp-action="ListRole" class="dropdown-item">Manage Roles</a>
        <a asp-controller="Admin" asp-action="ListUsers" class="dropdown-item">Manage Users</a>
    </div>
    
}