@inject SignInManager<ApplicationUser> SignInManager

    
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
              
              <form method="post" asp-controller="Account" asp-action="LogOut">
                <button type="submit" class=" nav-link btn btn-link" style="width:auto" >
                <span class="text-dark"> LogOut</span> @User.Identity!.Name
                </button>
              </form>
            </li>
           
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
    


